.mainWindow {
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
}

.background img{
    width: 65vw;
    height: 75vh;
}

.dialogueBox {
    display: flex;
    flex-direction: row; 
}

.speaker img {
    width: 180px;
    height: auto;
}

.leftBox {
    background-color: rgba(128, 128, 128, 0.8);
    /* border: 5px solid black; */
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.locationList {
    border: 5px green solid;
}

.inventory {
    border: 5px orange solid;
}