.mainWindow {
    overflow: hidden;
    border: 5px blue solid
}

.background img{
    width: 100vw;
    height: 65vh;
}

.dialogueBox {
    border: 5px red solid;
    /* position:relative;
    bottom:300px;
    left:0px; */
    display: flex;
    flex-direction: row;
    
}

.speaker img {
    width: 200px;
    height: auto;
}

.leftBox {
    background-color: rgba(128, 128, 128, 0.8);
    border: 5px solid black;
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.locationList {
    border: 5px green solid;
}

.inventory {
    border: 5px orange solid;
}